{% extends 'sellerbase.html' %}

<!DOCTYPE HTML>
<html>

<head>
  <title>b2b</title>
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
  <link rel="stylesheet" type="text/css" href="style/style.css" />
</head>

<body>

        {% block contents %}
         <center><h2 style="color:#861983"> {{request.session.ownid}} view upload product details</h2></center>
    <table border="2px">
            <tr>
                <th>S.No</th>
                <th>Ownername</th>
                <th>Productname</th>
                <th>Actionprice</th>
                <th >Sellingprice</th>
                <th>Status</th>




            </tr>
           {% for i in object %}
            <tr>
                <td style="color:brown">{{i.id}}</td>
                 <td style="color:brown">{{i.ownername}}</td>
                 <td style="color:brown">{{i.productname}}</td>
                <td style="color:brown">{{i.actionprice}}</td>

            <td style="color:brown">{{i.price}}</td>


            </tr>
        {% endfor %}





        {% endblock %}


    <div id="footer">
      Copyright &copy; textured_stars | <a href="http://validator.w3.org/check?uri=referer">HTML5</a> | <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> | <a href="http://www.html5webtemplates.co.uk">Simple web templates by HTML5</a>
    </div>
  </div>
</body>
</html>
