{% extends 'adminbase.html' %}

<!DOCTYPE HTML>
<html>

<head>
  <title>b2b</title>
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
  <link rel="stylesheet" type="text/css" href="style/style.css" />
</head>

<body>

        {% block contents %}
        <h2><b>Admin View products Accuracy</b></h2>
        m = {{m}}<br><br>
      <table border="1px">
          <tr><td></td><td>{{len0}}</td><td>{{len1}}</td><td>{{len2}}</td><td>{{len3}}</td></tr>
          <tr><td>{{len4}}</td><td>{{len5}}</td><td>{{len6}}</td><td>{{len7}}</td><td>{{len8}}</td></tr>
          <tr><td>{{len9}}</td><td>{{len10}}</td><td>{{len11}}</td><td>{{len12}}</td><td>{{len13}}</td></tr>
          <tr><td>{{len14}}</td><td>{{len15}}</td><td>{{len16}}</td><td>{{len17}}</td><td>{{len18}}</td></tr>
          <tr><td>{{len19}}</td><td>{{len20}}</td><td>{{len21}}</td><td>{{len22}}</td><td>{{len23}}</td></tr>
          <tr><td>{{len24}}</td><td>{{len25}}</td><td>{{len26}}</td><td>{{len27}}</td><td>{{len28}}</td></tr>
          <tr><td>{{len29}}</td><td></td><td></td><td>{{len30}}</td><td>{{len31}}</td></tr>
          <tr><td>{{len32}}&nbsp{{len33}}</td><td>{{len34}}</td><td>{{len35}}</td><td>{{len36}}</td><td>{{len37}}</td></tr>
          <tr><td>{{len38}}&nbsp{{len39}}</td><td>{{len40}}</td><td>{{len41}}</td><td>{{len42}}</td><td>{{len43}}</td></tr>
      </table>

         {% endblock %}


   <!-- <div id="footer">
      Copyright &copy; textured_stars | <a href="http://validator.w3.org/check?uri=referer">HTML5</a> | <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> | <a href="http://www.html5webtemplates.co.uk">Simple web templates by HTML5</a>
    </div>-->




</body>

</html>
